body{
  background-color: blanchedalmond;
  margin: 0px;
  padding: 0px;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.left{
  color: white;
  background-color: black;
  flex: 1;
  height: 100vh;
  
}

.right{
  background-color: white;
  flex: 1;
}