* {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box; /* box-sizing important otherwise input boxes will cross the outer div width */
}

.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  /* background-color: rgb(170, 228, 208); */
}

.outer {
  /* background-color: rgb(233, 211, 243); */
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 9.5vh;
  margin-bottom: 20px;
}

.elevenlabs-logo {
  height: 13.7px;
}

.inner {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.big {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mail,
.pass {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.full input,
.full button {
  width: 100%;
  height: 46px;
  border-color: #e5e5e8;
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}

button {
  background-color: white;
}
.signup-button {
  background-color: #a6a6ae;
  color: #f4f4f5;
  margin-top: 5px;
}

.line {
  border-top: 0.5px solid;
  border-color: #00001d13;
  width: 360px;
  margin-top: 11px;
  margin-bottom: 9px;
}

.create {
  font-size: 22px;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  display: block; /* Required for transform to work properly */
  transform: scaleY(1.08); /* tried to mimic the original font*/
  margin-top: 45px;
}

.signin {
  text-align: center;
  color: #323235;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
  color: #242426;
}

.google-logo {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 13px;
}

.input {
  position: relative;
}

.eye {
  height: 18px;
  position: absolute;
  top: 33%;
  right: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00000005;
  color: #00001187;
}

a {
  color: inherit;
  text-decoration-color: rgb(214, 214, 218);
}
